<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tjohnn.myapplication">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity-alias
            android:name=".launcher.FirstLauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/launcher"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SecondLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/launcher2"
            android:label="@string/app_name"
            android:roundIcon="@drawable/launcher2"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>